/* CSS Document */

.notice {
	width: 375px;
	margin: 20px;
	left: 0;
	right: 0;
	height: auto;
	border: rgb(102,102,102) 1px solid;
	background-color: #FAFAFA;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.sender-info {
	height: auto;
}

.sender-info .dp {
	display: inline-block;
	margin: 10px;
	margin-right: 0px;
	vertical-align: top;
}

.sender-info .dp img {
	height: 80px;
	max-width: 100px;
}

.sender-info .sender {
	display: inline-block;
	margin: 10px;
	max-width: 240px;
	vertical-align: top;
}

.sender p {
	margin: 0;
	padding: 0;
}

.sender .sender-designation {
	font-size: 14px;
	font-weight: 100;
	color: #888;
}

.sender .sender-name {
	font-size: 23px;
	line-height: 23px;
	margin: 1px 0px;
}

.sender .notice-date {
	font-size: 12px;
	color: #AAA;
}

.notice-content {
	width:100%;
	height:auto;
}

.notice-content .content {
	margin: 10px;
	height:auto;
	font-size:14px;
}

.notice-content .attachments {
	height: auto;
}

.notice-content .attachments a {
	display: block;
	border-top: rgb(102,102,102) 1px solid;	
	text-align: right;
	padding: 5px;
	font-size: 14px;
	line-height: 14px;
	background: #001A7C;
	color: #FFF;
}

.notice-content .attachments a:hover {
	text-decoration: none;
	background: #00094A;
}