/*Image holder of upload_image*/
/*.image_holder
{
	border-top-color:#00c0ef;
	background-color:rgba(255,255,255,1);
  	max-width:200px;
	max-height:350px;
	border-top:thick solid #0073b7;

	padding:10px 5px 5px 5px;
	border-radius:4px;
}
.image_holder input
{
	background-color:#0073b7;
	width:93px;

}
*/
